{% extends 'search/base.html' %}

{% block title %}
    {{ manga_data.attributes.title.en }}
{% endblock title %}

{% block body %}
    <div>
        <h1>{{ manga_data.attributes.title.en }}</h1>
    </div>
    <div>
        <img src="https://uploads.mangadex.org/covers/{{ manga_data.id }}/{{ cover_filename }}"/>
    </div>
    <div>
        <b>Description:</b>
        <p>{{ manga_description }}</p>
        <b>Status:</b> <p>{{ manga_data.attributes.status }}</p>
        <b>Year:</b> <p>{{ manga_data.attributes.year}}</p>
        <b>Tags:</b>
        {% for tag in manga_data.attributes.tags %}
            <p>{{ tag.attributes.name.en }}</p>
        {% endfor %}
        {% comment %} <button>
            <a class="btn btn-primary" href="{% url 'search:title_read' manga_id=manga_data.id chapter_id=1 %}">
                Start reading</a>
        </button> {% endcomment %}
    </div>
{% endblock body %}