.navbar{
    background-color: #000000;
    margin:0%;
    padding: 0%;
    border: 1px solid rgb(255, 255, 255);
}

.title1{
    font-family: 'sans-serif';
}

.text {
    font-size: 25px;
    mix-blend-mode:difference;
      color:white;
      padding-left: 100px
    }