<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
  <title>
    {% block title %}
      Base Title
    {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static "css/dropdown_menu.css" %}">
</head>
<body>
  <div class="search_href">
    <a href={% url "manga:manga_search" %}>
        <h2>Search manga</h2></a>
  </div>

  <style>
    .search_href {
        vertical-align: top;
        text-align: right;
    }
  </style>
{% block body %}
  Base Body
{% endblock %}

</body>
</html>