{% extends 'manga/base.html' %}

{% block title %}
    Read
{% endblock title %}

{% block body %}
    <div class="container">
        <a href={% url "manga:read_chapter" chapter_id=next_chapter_id manga_id=manga_id %}>
            <h3>Next chapter</h3></a>
    </div>
    <div class="container">
        {% for img_url in chapter_data.chapter.data %}
            <img src="{{ chapter_data.baseUrl }}/data/{{ chapter_data.chapter.hash }}/{{ img_url }}" width="700" />
        {% endfor %}
    </div>

    <div class="container">
        <a href={% url "manga:read_chapter" chapter_id=next_chapter_id manga_id=manga_id %}>
            <h3>Next chapter</h3></a>
    </div>

    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
         }
    </style>
{% endblock body %}
