{% extends 'manga/base.html' %}

{% block title %}
    {{ manga_data.attributes.title.en }}
{% endblock title %}

{% block body %}
    <div>
        <h1>{{ manga_data.attributes.title.en }}</h1>
    </div>

    <div>
        <img src="https://uploads.mangadex.org/covers/{{ manga_data.id }}/{{ cover_filename }}" width="400" />
    </div>

    <div>
        <div class="dropdown">
            <button class="dropbtn">Chapters</button>
            <div class="dropdown-content">
                <a href="{% url 'manga:title_chapters' manga_id=manga_data.id language='ru' %}">Read in Russian</a>
                <a href="{% url 'manga:title_chapters' manga_id=manga_data.id language='en' %}">Read in English</a>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="dropbtn">Add to list</button>
            <div class="dropdown-content">
                {% csrf_token %}
                {{ form.as_p }}
        </div>
    {% endif %}
    </div>
    <div>
        <b>Description:</b>
        <p>{{ manga_description }}</p>
        <b>Status:</b> <p>{{ manga_data.attributes.status }}</p>
        <b>Year:</b> <p>{{ manga_data.attributes.year}}</p>
        <b>Tags:</b>
        {% for tag in manga_data.attributes.tags %}
            <p>{{ tag.attributes.name.en }}</p>
        {% endfor %}
    </div>
{% endblock body %}